@tailwind base;
@tailwind components;
@tailwind utilities;

#random-post {

  --vibrant: #A820E8;
  --vibrant-dark: #301030;
  --vibrant-light: #B870D8;
  --dominant: #E8E0F0;
  --muted: #807880;
  --muted-dark: #482850;
  --muted-light: #E8E0F0;

  --background: var(--vibrant-light);
  --foreground: var(--vibrant-dark);
}

@media (prefers-color-scheme: dark) {
  #random-post {
    --background: var(--muted-dark);
    --foreground: var(--muted-light);
  }
}

#random-post {
  color: var(--foreground);
  background: var(--background);
}


