@tailwind base;
@tailwind components;
@tailwind utilities;

#browser-extension-manager {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --Red-700: hsl(3, 77%, 44%);

  --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  --font-size: 16px;

  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;

  --small-radius: 4px;
  --medium-radius: 8px;
  --large-radius: 16px;

  --background: var(--light-gradient);
  --foreground: var(--neutral-800);
  --card-bg: var(--neutral-0);
  --filter-text: var(--neutral-0);

  --dark-background: var(--dark-gradient);
  --dark-foreground: var(--neutral-300);
  --dark-card-bg: var(--neutral-700);
}

#browser-extension-manager {
  color: var(--foreground);
  background: var(--dark-background);
  font-family: var(--font-noto-sans);
}
